ion-toolbar {
  --background: black;
}
ion-back-button {
  --background: white;
  --color: white;
}
ion-content {
  --background: black;
}
ion-card {
  width: 100%;
  --background: white;
  height: 600px;
  border-radius: 15px;
}
ion-row {
  padding: 0px;
}

.eye {
  margin-top: -10px;
}
.error-message {
  color: red;
  font-size: 10px;
  margin-left: 0px;
  margin-top: 0px;
  word-wrap: break-word;
}
.adj_input {
  margin-top: -5px;
  padding-top: 10px;
}
.adj_input_p {
  margin-top: -10px;
  padding-top: 10px;
}
.logbtn {
  font-size: 10px;
  height: 40px;
}
.ion-text-xl {
  padding-top: 20px;
  color: white;
  margin-left: 8px;
  margin-top: 5px;
  padding: 0px;
  font-size: 15px;
  font-weight: bolder;
}
.inline {
  margin-top: -14px;
  font-size: 11px;
  color: black;
  background: white;
}
.input {
  border-radius: 5px;
  margin-left: -10px;
  height: 40px;
  width: 100%;
  border: 1px solid lightgrey;
}
.no-padding {
  color: white;
  padding: 0px;
  margin-left: 8px;
  font-size: 10px;
}
.wrap {
  padding-top: 20px;
  margin-left: -15px;
  margin-right: -6px;
}
.input-wrapper {
  margin-left: 80 px;
}
