<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Log in" icon="chevron-back-outline">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content">
  <ion-grid class="ion-padding">
    <ion-row style="height: 10px;"></ion-row>
    <ion-row class="no-padding">
      Hello there!
    </ion-row>
    <ion-row class="ion-text-xl">
      Welcome to Howdy
    </ion-row>
    <ion-row class="wrap">
      <ion-card class="ion-padding">
        <form [formGroup]="Login" class="form">
          <ion-grid>
            <ion-row style="height: 40px;"></ion-row>
            <ion-row>
              <div class="input">
                <ion-grid>
                  <ion-row>
                    <ion-label class="inline">Email ID</ion-label>
                  </ion-row>
                  <ion-row>
                    <ion-input
                      class="adj_input"
                      formControlName="email"
                      placeholder="Email"
                    ></ion-input>
                  </ion-row>
                </ion-grid>
              </div>
            </ion-row>
            <ion-row
              ><div>
                <ng-container *ngFor="let error of error_message.email">
                  <div
                    class="error-message"
                    *ngIf="Login.get('email').hasError(error.type) && (Login.get('email').dirty || Login.get('email').touched)"
                  >
                    <ion-icon name="information-circle-outline"></ion-icon>
                    {{ error.message }}
                  </div>
                </ng-container>
              </div></ion-row
            >
            <ion-row style="height: 40px;"></ion-row>
            <ion-row>
              <div class="input">
                <ion-grid>
                  <ion-row>
                    <ion-label class="inline">Password</ion-label>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-input
                        formControlName="password"
                        [type]="showPassword ? 'text' :'password'"
                        class="adj_input_p"
                        placeholder="Password"
                      ></ion-input>
                    </ion-col>
                    <ion-col
                      size="1"
                      style="text-align: end; vertical-align: middle;"
                      ><ion-icon
                        class="eye"
                        [name]="passwordToggleIcon"
                        (click)="togglePassword()"
                      ></ion-icon
                    ></ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="forget">
                      <div>
                        <ng-container
                          *ngFor="let error of error_message.password"
                        >
                          <div
                            class="error-message"
                            *ngIf="Login.get('password').hasError(error.type) && (Login.get('password').dirty || Login.get('password').touched)"
                          >
                            <ion-icon
                              name="information-circle-outline"
                            ></ion-icon>
                            {{ error.message }}
                          </div>
                        </ng-container>
                      </div></ion-col
                    >
                    <ion-col
                      size="5"
                      style="font-size: 11px; text-align: end; color: #e69600;"
                    >
                      Forget Password?
                    </ion-col>
                  </ion-row>
                  <ion-row style="height: 30px;"></ion-row>
                  <ion-row
                    ><ion-col size="12"
                      ><ion-button
                        size="large"
                        expand="full"
                        shape="round"
                        class="logbtn"
                        >Log In</ion-button
                      ></ion-col
                    ></ion-row
                  >
                  <ion-row style="height: 200px;"></ion-row>
                  <ion-row>
                    <ion-col
                      class="ion-no-padding"
                      size="8"
                      style="font-size: 15px; text-align: right;"
                      >Don't have an account?</ion-col
                    ><a> Register</a></ion-row
                  >
                </ion-grid>
              </div>
            </ion-row>
          </ion-grid>
        </form>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
