<ion-header class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6">
          <ion-title>Howdy</ion-title>
          <ion-select value="t1" class="popover" interface="popover">
            <ion-select-option value="t1"
              >Contact support team</ion-select-option
            >
            <ion-select-option value="t2">Team 2</ion-select-option>
            <ion-select-option value="t3">Team 3</ion-select-option>
            <ion-select-option value="t4">Team 3</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col size="6" class="notif">
          <ion-icon class="ion-padding-end" name="notifications"></ion-icon>
          <ion-button
            size="default"
            fill="clear"
            class="reset-button"
            (click)="presentPopover($event)"
          >
            <ion-icon name="ellipsis-vertical"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<!--<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="dark">
      <ion-tab-button tab="dashboard">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="teams">
        <ion-icon name="people"></ion-icon>
        <ion-label>Teams</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="support">
        <ion-icon name="chatbubbles"></ion-icon>
        <ion-label>Support</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="account">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Account</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
-->

<super-tabs>
  <super-tabs-container swipe-enabled="false">
    <super-tab>
      <ion-content>
        <ion-nav [root]="dashboardPage"></ion-nav>
      </ion-content>
    </super-tab>
    <super-tab>
      <ion-content>
        <ion-nav [root]="teamsPage"></ion-nav>
      </ion-content>
    </super-tab>
    <super-tab>
      <ion-content>
        <ion-nav [root]="supportPage"></ion-nav>
      </ion-content>
    </super-tab>
    <super-tab>
      <ion-content>
        <ion-nav [root]="recognitionPage"></ion-nav>
      </ion-content>
    </super-tab>
    <super-tab>
      <ion-content>
        <ion-nav [root]="accountPage"></ion-nav>
      </ion-content>
    </super-tab>
  </super-tabs-container>
  <super-tabs-toolbar slot="bottom" class="ion-padding-horizontal">
    <super-tab-button>
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </super-tab-button>
    <super-tab-button>
      <ion-icon name="people"></ion-icon>
      <ion-label>Teams</ion-label>
    </super-tab-button>
    <super-tab-button>
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Support</ion-label>
    </super-tab-button>
    <super-tab-button>
      <ion-icon name="medal"></ion-icon>
      <ion-label>Recognition</ion-label>
    </super-tab-button>
    <super-tab-button>
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Account</ion-label>
    </super-tab-button>
  </super-tabs-toolbar>
</super-tabs>
